<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Pokédex</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/minecraft-4" rel="stylesheet">
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/pokeapi-js-wrapper/dist/index.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <c-header></c-header>
      <search-bar :list="fixedList" @searched="getFiltredList"></search-bar>
      <list-pokemon v-if="!showDetails" :list="normalizedList" @send-details="sendDetails"></list-pokemon>
      <pokemon-detail v-if="showDetails" :details="details[0]" @close-details="showList"></pokemon-detail>
      <c-footer></c-footer>
    </div>

    <!-- Import Pokedex -->
    <script>
      const P = new Pokedex.Pokedex()
    </script>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Import Components -->
    <script src="./components/Detail.js"></script>
    <script src="./components/PokemonList.js"></script>
    <script src="./components/Pokemon.js"></script>
    <script src="./components/Header.js"></script>
    <script src="./components/Footer.js"></script>
    <script src="./components/SearchBar.js"></script>
    <!-- Mount App -->
    <script>
      const interval = {offset : 0, limit : 151}
      const mountedApp = app.mount('#app')
      P.getPokemonsList(interval).then(function(response){ //récupération des infos pokémons
          return response.results.slice()
        }).then(function(response){
        mountedApp.pokemons = response.slice()
        mountedApp.normalizeList()
      })
    </script>
  </body>
</html>